@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #4129A9;
}

header, footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
}