@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --primary-color: #4BCB8E;
    --header-color: #2C2C2C;
    --text-color: #858B88;

    --margin-left: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

h1 {
    font-weight: 900;
    color: var(--header-color);
}

p, a{
    font-size: 18px;
    color: var(--text-color);
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;

    &.primary {
        background-color: var(--primary-color);
        color: white;
        padding: 1em 4em;
        border-radius: 2em;
    }
}
